.logo {
  width: 182px;
  height: 217px;
  margin: 20px auto;
  background: url("../images/logo/A.png") no-repeat top center;
  position: relative;
  transition: transform 4.5s ease-out;

  .tank {
	width: 47px;
	height: 53px;
	background: url("../images/logo/tank.png") no-repeat top center;
	position: absolute;
	transform: translate3d(13px,130px,0) rotate(12deg);
	transition: transform 0.7s ease-out;
  }
}