h1, h2 {
	text-align: center;
}

h1 {
	font-weight: bold;
}

.controls {
	margin-top: 15px;
}

.bannerExample {

	.banner {
		overflow: hidden;
		padding: 0;

		.inner {
			width: 100%;
			position: relative;
			transform: translate3d(0%, 0, 1px);

			.banner-image {
				width: 100%;
				position: absolute;

				&:first-child {
					left: 0;
				}

				&:nth-child(2) {
					left: 100%;
				}

				&:nth-child(3) {
					left: 200%;
				}
			}

		}

	}
	
}


.spriteAnimationExample {

	.ninja-background {
		background: url(../images/ninja-background.jpg) no-repeat;
		background-position: 0px -350px;
		overflow: hidden;
		position: relative;

		.ninja-bush {
			background: url(../images/ninja-bush.png) no-repeat;
			background-position: 0%;
			position: absolute;
			bottom: -25px;
			left: 0;
			height: 120px;
  			width: 100%;
		}

		.ninja {
			width: 249px;
			height: 300px;
			margin: auto;
			background: url(../images/ninja-sprite.png) no-repeat;
			background-position: 0 0;
			overflow: hidden;
		}

	}
	
}


.textExample {

	.title {
		font-size: 100px;
		font-weight: bold;

		@media(max-width: 990px) {
			font-size: 80px
		}

		@media(max-width: 768px) {
			font-size: 70px
		}

		@media(max-width: 440px) {
			font-size: 50px
		}

		span {
			opacity: 1;
			display: inline-block;
		}

	}

}


.loadingExample {
	
	.loadingHolder {
		background-color:#FFD454;

		#cupcake{
			flex-direction:row;
			-webkit-flex-direction:row;
			-ms-flex-direction:row;
			-mos-flex-direction:row;
			-o-flex-direction:row;
			justify-content:center;
			-webkit-justify-content:center;
			-ms-justify-content:center;
			height:100%;
			width:100%;
			background-color:#FFD454;    
		}

		.letter{
		    font-size:100px;
		    color:#222;
		    font-family:tahoma;
		}

		.box{
		    display: box;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}

		.cupcakeCircle, .cupcakeInner, .cupcakeCore{
		     border-radius:50%;
		    -webkit-border-radius:50%;
		    -moz-border-radius:50%;
		    -ms-border-radius:50%;
		}

		.cupcake, .letter, .cupcakeCircle, .cupcakeInner, .cupcakeCore{
		    flex:none;
		    -webkit-flex:none;
		    -moz-flex:none;
		    -ms-flex:none;
		    -o-flex:none;
		}

		.letter, .cupcakeCircle{
		    align-self:center;
		    -webkit-align-self:center;
		    -moz-align-self:center;
		    -o-align-self:center;
		    -ms-align-self:center;
		}
		.cupcakeCircle{
		    align-items:center;
		    -ms-align-items:center;
		    justify-content:center;
		    -ms-justify-content:center;
		    height:100px;
		    width:100px;
		    background-color:#222;
		}

		.cupcakeInner{
		    align-self:center;
		    -ms-align-self:center;
		    justify-content:center;
		    -ms-justify-content:center;
		    height:50%;
		    width:50%;
		    background-color:#FFD454;
		    
		    
		}
		.cupcakeCore{
		    align-self:center;
		    -ms-align-self:center;
		    height:25%;
		    width:25%;
		    background-color:#222;
		}

	}
}