h1, h2 {
	text-align: center;
}

h1 {
	font-weight: bold;
}

.controls {
	margin-top: 15px;
}

.bannerExample {

	.banner {
		overflow: hidden;
		padding: 0;

		.inner {
			width: 100%;
			position: relative;
			transform: translate3d(0%, 0, 1px);

			.banner-image {
				width: 100%;
				position: absolute;

				&:first-child {
					left: 0;
				}

				&:nth-child(2) {
					left: 100%;
				}

				&:nth-child(3) {
					left: 200%;
				}
			}

		}

	}
	
}


.spriteAnimationExample {

	.ninja-background {
		background: url(../images/ninja-background.jpg) no-repeat;
		background-position: 0px -350px;
		overflow: hidden;
		position: relative;

		.ninja-bush {
			background: url(../images/ninja-bush.png) no-repeat;
			background-position: 0%;
			position: absolute;
			bottom: -25px;
			left: 0;
			height: 120px;
  			width: 100%;
		}

		.ninja {
			width: 249px;
			height: 300px;
			margin: auto;
			background: url(../images/ninja-sprite.png) no-repeat;
			background-position: 0 0;
			overflow: hidden;
		}

	}
	
}


.textExample {
	
	h2 {
		font-size: 100px;
		font-weight: bold;

		@media(max-width: 990px) {
			font-size: 80px
		}

		@media(max-width: 768px) {
			font-size: 70px
		}

		@media(max-width: 440px) {
			font-size: 50px
		}

		span {
			opacity: 1;
			display: inline-block;
		}

	}

}