.animator-tests {
	
	.transition {
		font-size: 25px;
		color: red;
	}
	.transition2 {
		font-size: 50px;
		color: grey;
	}
	.transition3 {
		font-size: 3px;
	}
	.transition4 {
		font-size: 150px;
	}
	button {
		width: 200px;
		height: 50px;
		position: absolute;
		left: 0;
	}
	.pause {
		bottom: 0;
	}
	.play {
		bottom: 51px;
	}

}
